* {
    box-sizing: border-box;
}

.main-container {
    margin: 5% auto;
    width: 80%;
    max-width: 650px;
}

body {
    background-color: black;
    text-align: center;
}

h1 {
    color:aquamarine
}

h2 {
    color:whitesmoke;
    background-color: rgb(50, 50, 50);
    margin: 25px;
    border-radius: 10px;
    padding: 5px;
}

h3 {
    color:grey;
}

h4 {
    color: aliceblue;
}

h5 {
    font-weight: bold;
    margin: 2px;;
    max-width: 160px;
}

h6 {
    text-align: left;
    margin: 2px;
    max-width: 160px;
}

li {
    color: gray;
    background-color: rgb(230, 230, 230);
    text-align: left;
}

table {
    background-color: grey;
    margin-left:auto;
    margin-right: auto;
}

ul {
    background-color: rgb(230, 230, 230);
    border-radius: 0 20px 0 20px;
    padding: 10px 20px 10px 20px;
}
button {
    margin: 20px 40px 20px 40px;
}

div.report-card {
    text-align: left;
    color: aliceblue;
    border: 5px solid rgb(50, 50, 50);
    border-radius: 25px;
    width: 175px;
    height: 200px;
    margin: 5px;
    background-color: rgb(75, 75, 75)
}

div#school-report-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: content;
}