body {
    background-color: black;
    text-align: center;
}

h1 {
    color:aquamarine
}

h3 {
    color:whitesmoke
}

li {
    color:whitesmoke;
    border: whitesmoke;
    text-align: left
}

table {
    background-color: grey;
    margin-left:auto;
    margin-right: auto;
    border: black 10px;
}

h2{
    color:whitesmoke;
}