body {
    background-color: black;
    text-align: center;
}

h1 {
    color:aquamarine
}

h2 {
    color:whitesmoke;
}

h3 {
    color:grey
}

h4 {
    color: aliceblue;
}

li {
    color: gray;
    background-color: rgb(230, 230, 230);
    text-align: left;
    border-radius: 20px 0 20px 0;
}

table {
    background-color: grey;
    margin-left:auto;
    margin-right: auto;
}

ul {
    border: 100px gray;
    background-color: rgb(230, 230, 230);
    border-radius: 20px 0 20px 0;
    padding: 0 20px 0 20px;
}
